  .mr-5 {
    margin-right: 5px;
  }
  
  .mt-5 {
    margin-top: 5px;
  }

  .p-20 {
    padding: 20px;
  }
  
  .done {
    color: silver;
    text-decoration: line-through;
  }
  
  input[type="date"].disabled::-webkit-inner-spin-button {
    display: none;
  }
  
  .content {
    overflow: auto;
    height: 80Vh;
  }

  .clear-button, .add-button, .content, .page-footer {
    text-align: center;
  }

  .collection-item {
    text-align: left;
  }

  @media (max-width: 768px) { 
    .brand-logo {
      font-size: 26px;
    }

    h1 {
      font-size: 40px;
    }
  }

  @media (max-width: 576px) { 
    .brand-logo {
      font-size: 22px;
    }

    h1 {
      font-size: 34px;
    }
  }

  @media (max-width: 410px) { 
    .brand-logo {
      font-size: 16px;
    }

    h1 {
      font-size: 28px;
    }

    input[type="text"], input[type="date"] {
      font-size: 11px;
    }

    .task-name {
      font-size: 11px;
    }
  }